.custom-link.active {
  background-color: #6f94beb6 !important;
  color: rgb(255, 255, 255) !important;
}

.header-img{
width:210vh;
height:80vh;
}

.header-h5:hover{
background-color: #30c8a2 !important;
}


h3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3::after {
  background: #00CB99 none repeat scroll 0 0;
  bottom: -20px;
  content: "";
  height:3px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 80px;
}

.my-btn{
  background-color: #00cb99 !important;
  padding:8px;

}
.p-name:hover{
  color:#00CB99;
}

.dropdown-item:hover {
  background-color: #78dbc2 !important;
  color: rgb(0, 0, 0) !important;
}

.product-div {
  transition: box-shadow 0.3s, transform 0.3s; 
  
}

.product-div:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
  transform: scale(1.05);
  /* border:1px solid #b2efdf; */
}
/* input.search-button:active {
  box-shadow: none !important;
  outline: none; 
} */

@media only screen and (max-width: 785px) {
  .navbar-brand {
    display: none !important;
  }
}
